.root {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  min-height: calc(100vh - 140.383px);
  position: relative;
}
