.main-content:has(.login) {
  min-height: max(425.433px, calc(100vh - 140.383px));
  background-color: #12002b;
}

.login {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__icon {
  font-size: 16px;
  color: #2c3e50;
}

.login__title {
  margin: 23px 0 21.44px 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 215px;
  justify-content: space-between;
}

.login__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.login__label {
  font-family: Arial, sans-serif;
  text-align: left;
  color: #2c3e50;
  font-weight: bold;
}

.login__input {
  padding: 5px;
  font-size: 1.2rem;
  width: 100%;
}

.login__remember {
  display: flex;
  align-items: center;
  width: 100%;
}
#remember-me {
  margin: 3px 3px 3px 4px;
}

.login__remember-label {
  padding-left: 4px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
}

.login__button-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login__button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #00bc77;
  color: #fff;
  text-decoration: underline;
  border: none;
  font-family: Arial, sans-serif;
}

.login__error {
  font-family: Arial, sans-serif;
  text-align: left;
  font-size: 10px;
  color: red;
  width: 100%;
  line-height: 10px;
}
